/*reset value*/

* {
    margin: 0%;
    padding: 0%;
    font-family: verdiana, sans-serif;
    }
    
/*body rules*/
body {
    background-color: rgba(224,229,255,0.5);
    margin: 5px auto;
}
/*rules for #page div*/

#page {
    padding: 10px;
}

/*rules for .main div*/
.main{
    margin-left: 40px;
}

/*============= snHeader rules =======================*/

/*rules for anchor tag #site*/
a#site {
    display: inline;
    width: 100px;
    text-decoration: none;
    background-color: whitesmoke;
    border: 2px solid red;
    border-radius: 10px;
    position: relative;
    left: 30%;
}

/*appname class rules*/

.appname {
    position: fixed;
    top: 0px;
    width: 100%;
    border-bottom: 1px blue solid;
    text-align: center;
    font-size: 20pt;
    padding: 5px;
    margin: 0px 0px 10px;
    background-color: rgb(204,255,153);
}

/* menu class rules*/
ul.menu {
    overflow: auto;
    width: 59.15%;
    margin: auto; 
    margin: 50px auto 10px;
}

ul.menu2 {
    overflow: auto;
    width: 29.53%;
    margin: auto;
    margin: 50px auto 10px; 
}

ul.menu li {
    list-style-type: none;
    border: 1px red solid;
    width: 125px;
    margin: 2px;
    float: left;
    text-align: center;
    background-color: rgb(255,255,255);
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
}

ul.menu2 li {
    list-style-type: none;
    border: 1px red solid;
    width: 125px;
    margin: 2px;
    float: left;
    text-align: center;
    background-color: rgb(255,255,255);
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
}

ul.menu:hover a:hover {
    background-color: yellow;
}

ul.menu2:hover a:hover  {
    background-color: yellow;
}

ul.menu > li > a {
    text-decoration: none; 
    display: block;
    width: 125 px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
}

ul.menu2 > li > a {
    text-decoration: none;
    display: block;
    width: 125 px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
}

.info{
    width: 301px;
    background: lightgreen;
    color: blue;
    border: 1px solid green;
    padding: 5px 10px;
    margin-left: 40px;
    margin-bottom: 20px;
}
/*====================================*/
/*rules for image*/
img{
    border: 1px solid black;
    margin-right: 15px;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
}

/*============================================*/
/*rules for messages stuff*/

.whisper {
    font-style: italic;
    color: #006600;
}

/*=========================================*/
/*ruls for .taken and .availabe for AJAX calls*/

.taken, .error {
    color: red;
}

.available {
    color: green;
}


/*=====================================================*/
/* footer rules*/

#footer { 
    width: 95%;
    margin: 40px auto 20px;
    border-top: 1px solid aqua;
    padding:5px;
    background-color: rgba(0,0,8,0.50);
}
    
p.footerpara {
    color: white;
    text-align: center;
    font-size: 13px;
}    

/*================================================*/
/*rules for sign up form */
    
.signup {
    display: block;
    margin: 5px;
    width: 300px;
}
  
#register {
    border: 2px #efefef outset;
}    

/*===============================================*/
/*rules for login form*/
#log_in {
    border: 2px bisque inset;
    background-color: rgba(214,219,245,0.5);
}

.login {
    margin: 5px;
}

#output{
    color: red;
}

/*===============================================*/
/*rules for .members*/

.members li {
    list-style-type: none;
}

.members li a {
    text-decoration: none;
        
}

h3.members {
    margin-top: 30px;
}

.members{
    text-align: center;
    margin: 5px;
}

/*===============================================*/
/*rules for showProfile*/

#text{
    margin: 20px;
    background-color: white;
    padding: 3px;
    border-style: ridge;
}


/*===============================================*/
/*rules for friends list */

.subhead{
    margin: 30px 0px 10px;
    font-weight: bold;
}

.friends{
    list-style-type: none;
}

.friends li a {
    text-decoration: none;
}

.friends li {
    margin: 5px
}

/*===============================================*/
/*rules for messages */

.textarea{
    width: 500px;
    height: 100px;
}

form#messages{
    margin: 30px;
}

div.board{
   border: 1px steelblue inset;
   margin: 5px;
   padding: 8px;
   height: 500px;
   overflow: scroll;
}

.button {
    border: 1px solid red;
    height: 20px;
    padding: 2px;
    margin: 8px;
    background-color: goldenrod;
    text-decoration: none;
    
}

/*===============================================*/
/*rules for profile */

form#profile {
    margin: 20px;
}