/*reset value*/

* {
    margin: 0%;
    padding: 0%;
    }

/* body rules*/

body {
    background-image: url("../images/bg2.jpg");
    background-size: 100%;
    }

/* page rules*/

div#page {
    width: 95%;
    margin: 6px auto;
    padding: 5px;
    background-color: rgba(123,234,212,0.50);
    }
    
/*============================================*/
/*output rules*/

#output {
    border: 1px solid black;
    text-align: center;
    padding: auto;
    margin: 0px auto 10px auto;
    width: 50%;
}
    
/*===========================================*/
/*header rules*/

header {
    width: 95%;
    margin: auto;
    }
    
h1.title {
    text-align: center;
    }

img.head_img {
    width: 90%;
    margin: 3px 30px 3px 50px;
    height: 200px;
    border: 0px;
    outline: none;
    }
    
header a img.head_img {
    outline: none;
    border: 0px;
    }
    
/* Rules for navigation bar */

nav {
    width: 850px;
    margin: auto;
    margin-bottom: 6em;
    }
    
nav li {
    list-style-type: none;
    text-align: center;
    width: 125px;
    position: relative;
    float: left;
    margin: 0px 8px ;
    }
    
nav a {
    text-decoration: none;
    display: block;
    width: 125px;
    height: 25px;
    line-height: 25px;
    background-color: aliceblue;
    border-radius: 3px;
    }

nav .subnav li{
    width: 128px;
    position: relative;
    bottom: 1px;
    right: 8px;
    }

nav .subnav2 li{
    width: 125px;
    position: relative;
    bottom: 1px;
    right: 8px;
    }

nav .subnav a{
    margin-top: 3px;
    }

nav .subnav2 a{
    margin-left: 1px;
}

nav li:hover > a {
    background-color: #00FF40;
    }

nav li:hover a:hover {
    background-color: yellow;
    }

nav .subnav {
    display: none;
    position: absolute;
    top: 26px;
    left: 0px;
    }

nav .subnav2 {
    display: none;
    position: absolute;
    top: 1px;
    left: 129px;
}

nav li:hover .subnav {
    display: block;
    }

nav .subnav li:hover .subnav2 {
    display: block;
}

nav .darrow {
    font-size: 20px;
    position: absolute;
    top: 0px;
    right: 5px;

}nav .rarrow {
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 0.4em;

}
        
/*===============================================*/ 
/* Rules for container div */

div#container {
    background-color: #8FBBEF;
    padding: 3px;
    overflow: auto;
    margin-bottom: 10px;
    }
    
div.conpara {
    width: 32.1%;
    float: left;
    background-color: white;
    padding: 3px;
    margin: 3px;
}

div#container2 {
    background-color: dodgerblue;
    padding: 3px;
    margin-top: 10px;
}

div.conpara2{
    width: 98.3%;
    background-color: beige;
    padding: 3px;
    margin: 3px;
    overflow: auto;
}

/*=======================================================*/
/*authenticated rules */

div.authenticated {
    background-color: rgb(324,456,235);
    padding: 3px;
    margin-bottom: 3px;
}
div p.authenticated{
    text-align: center;
}
    
/*================================================*/
/* cv rules*/

p.heading {
    width: 250px;
    margin: auto;
    text-align: center;
}
/*=====================================================*/
/* footer rules*/

footer{ 
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    padding:5px;
    background-color: rgba(0,0,8,0.50);
    }
    
p.footerpara {
    color: white;
    text-align: center;
    font-size: 13px;
    }    

/*================================================================*/
/*log_in page*/

#flog_out{
    position: fixed;
    display: block;
    width: 100px;
    height: 50px;
    background-color: rgba(234,259,298,0.5);
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    margin: 35px 0px;
}

#flog_out:hover{
    background-color: rgb(0,0,0);
}

.login{
    margin: auto;
    border: lightgoldenrodyellow 9px ridge;
    background-color: rgb(126,345,67);
    margin-bottom: 5px;
}

.login td {
    border: none;
}

/*================================================================*/
/*register page* rules*/

.register {
    border: 1px black solid;
}

/*================================================================*/
/* MAIL FORM table rules*/

table.mail {
    margin: auto;
}

table.mail th {
    border-radius: 100px;
    background-color: olivedrab;
}

table.mail tr.even {
    background-color: rgba(544,511,695,0.45);
}

table.mail tr.odd {
    background-color: cadetblue;
}

table.mail th, tr, td {
    padding: 3px 4px;
}
table.mail #text{
    width: 900px;
    height: 400px;
}
table.mail tr, td {
    border: 1px solid black;
}

table.mail tfoot {
    text-align: center;
}

table.mail tfoot:hover .even {
    background-color: darkseagreen;
}

table.mail #send {
    width: 100px;
    height: 25px;
}

/*
===================================================
==================== RSS FEED rules =================
========================================================
*/

/*News form rules*/
form#news{
    border-style: outset;
    width: 250px;
    float: left;
    background-color: rgb(200,220,255);
    margin: 3px;
}

#rssTitle{
    text-align: center;
    background-color: burlywood;
    border: 2px brown;
}

#rssChoose{
    text-align: center;
    margin: 50px auto;
}

#select{
    text-align: center;
    padding: 35px;
}

#submit{
    text-align: center;
    padding: 10px 0px 50px 0px;
    border-top: 2px solid #efefef;
}
#rss{
    width:950px;
    float: left;
    margin: 10px;
}

h3.xml{
    text-align: center;
    border-bottom-style: ridge;
}

li.xml{
    background-color: gainsboro;
    margin: 2px;
    border-bottom-style: inset;
    list-style-type: none;
}

li.xml a:hover {
    background-color: #efefef;
}

a.xml {
    text-decoration: none;
    display: block;
}

a.xml :hover{
    background-color: gray;
}

form > p {
    margin: 5px;
    text-align: center;
}

/*
================================================================================================================
=================================================================================================================
========================================== Javascript rules =======================================================
===================================================================================================================
*/

/*greeting rules js file greeting.js*/
h3.js {
    text-align: center;
    color: rgb(123,034,223);
}